<%= flash[:danger] %>
<%= flash[:success] %>

<h1><%= @customer.first_name + @customer.last_name %>さんの会員詳細</h1>

<p>会員ID <%= @customer.id %></p>
<p>氏名 <%= @customer.first_name + @customer.last_name %></p>
<p>フリガナ <%= @customer.first_name_kana + @customer.last_name_kana %></p>
<p>郵便番号 <%= @customer.postal_code %></p>
<p>住所 <%= @customer.address %></p>
<p>電話番号 <%= @customer.telephone_number %></p>
<p>メールアドレス <%= @customer.email %></p>
<p>会員ステータス <%= @customer.is_active_i18n %></p>

<%= link_to "編集する", edit_admin_customer_path(@customer.id) %>　　　<%= link_to "注文履歴一覧を見る", admin_path %>