<h2>マイページ</h2>

<h3>登録情報</h3>
<p>名前 <%= @customer.first_name %></p>
<p>名前 <%= @customer.last_name %></p>
<p>郵便番号 <%= @customer.postal_code %></p>
<p>住所 <%= @customer.address %></p>
<p>電話番号 <%= @customer.telephone_number %></p>
<p>メールアドレス <%= @customer.email %></p>


配送先
注文履歴