<h1>注文履歴詳細</h1>
<h3>注文情報</h3>
<p>注文日<%= @order.created_at.strftime('%Y/%m/%d') %></p><br>
<p>配送先 〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></p><br>
<p>支払い方法 <%= @order.payment_type_i18n %></p>

<h3>注文内容</h3>
<% @order_items.each do |order_item| %>
<p>商品<%= order_item.item.name %></p>
<p>単価(税込)<%= (order_item.item.price * 1.1).floor %></p>
<p>個数<%= order_item.amount %></p>
<p>小計<%= (order_item.item.price * 1.1).floor * order_item.amount %></p>
<% end %>

<h3>請求情報</h3>
<p>商品合計<%= ((@total * 1.1).floor).to_s(:delimited) %><br>

<p>配送料<%= @postage %><br>
<p>ご請求額<%= ((@total * 1.1).floor + @postage).to_s(:delimited)  %>
