<%= flash[:danger] %>
<%= flash[:success] %>
<h1>配送先登録/一覧</h1>

<%= form_with model:@address, local:true do |f| %>

  <p>郵便番号 ハイフンなし</p> <%= f.text_field :postal_code %>

  <p>住所</p> <%= f.text_field :address %>

  <p>宛名</p> <%= f.text_field :name %><br>

  <%= f.submit '新規登録' %>
<% end %>

<% @addresses.each do |address| %>
<p>郵便番号　<%= address.postal_code %></p>
<p>住所　<%= address.address %></p>
<p>宛名　<%= address.name %></p>
<%= link_to '編集する', edit_address_path(@address, id: address) %>　　<%= link_to "削除する", address_delete_path(@address, id: address), method: :delete, data: {confirm: "削除しますか？"}  %>

<% end %>
