<%= flash[:danger] %>
<%= flash[:success] %>


<main>
  <div class="container">
   <div class="mx-auto mt-3">
    <h1><strong>商品一覧(全<%= Item.count %>件)</strong></h1>
    <div class="mt-3">
    <div class="row">
    <% @items.each do |item| %>
     <div class="col">
   <%= attachment_image_tag item, :image, :fill, 200, 150, format: 'jpeg', fallback: "no_image.jpg" %>
   <p>商品名　 <%= link_to item.name, item_path(item) %></p>
   <p>¥<%= item.add_tax_price.to_s(:delimited) %></p><br><br>
   </div>
 <% end %>
  </div></div>
</div></div>
