<%= attachment_image_tag(@item, :image, :fill, 120, 120, format: 'jpeg', fallback: "no_image.jpg") %>
<h2> <%= @item.name %></h2>
<p2> <%= @item.introduction %></p2><br>
<p2><strong>¥<%= @item.add_tax_price.to_s(:dalimited) %></strong>(税込)</p2>

<%= form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
<p><%= f.select :amount, *[1..20] %></p>
<%= f.hidden_field :item_id, value: @item_id %>
<p><%= f.submit 'カートに入れる' %></p>

<% end %>